[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

flask = "*"
flask-script = "*"
flask-sqlalchemy = "*"
flask-sqlacodegen = "*"
flask-migrate = "*"
"psycopg2-binary" = "*"
"jinja2" = "*"
uuid = "*"
flask-bootstrap = "*"
requests = "*"
uwsgi = "*"
flask-caching = "*"
gunicorn = "*"
line-bot-sdk = "*"
google-api-python-client = "*"
python-dotenv = "*"


[requires]

python_version = "3.6"
