[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

scrapy = "*"
sqlalchemy = "*"
"psycopg2" = "*"
uuid = "*"
google-api-python-client = "*"
python-dotenv = "*"


[requires]

python_version = "2.7"
