# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = ns_web_crawler.settings

[deploy]
#url = https://eshop-prices.com/
project = ns_web_crawler
