{% extends "base.html" %} 
{% block title %} - Nintendo EShop Price. - {% endblock %} 
{% block page_content %} 
    {% if items %}
        <table class="table table-hover table-responsive-xl">
            <caption><span>Dear, We found {{ items.count() }} Games from nintendo now!</span></caption>
            <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>Game Name</th>
                    <th>Game Chinese Name</th>
                    <th>description</th>
                </tr>
            </thead>
            <tbody class="table-striped">
                {% for item in items %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>
                            <a href="/{{item.name}}" target="_blank"> 
                                {{ item.name }}
                            </a>
                        </td>
                        <td>
                            {% if item.name_tw %}
                                {{ item.name_tw }}
                            {% endif %}
                        </td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
