{% extends "base.html" %} {% block title %} - Nintendo EShop Price. - {% endblock %} {% block page_content %} {% if items %}
<table class="table">
    <thead>
        <th>Game Name</th>
        <th>Country</th>
        <th>Price</th>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.name_tw }} | {{ item.name }} </td>
            <td>{{ item.country }}</td>
            <td><span data-eprice="{{ item.eprice }}">{{ "%d" % item.eprice }}</span></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<footer>
    Copyright Yuchen Liu © 2018
</footer>
{% endblock %}